@use 'src/styles';

.button {
  width: 60px;
  padding: 4px 8px;

  background: styles.$primary-white;
  transition: background-color 0.1s ease-in;

  border: 2px solid styles.$primary-color;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: styles.$primary-color;
  cursor: pointer;

  &:hover {
    background: styles.$highlight-color;
  }

  &.selected {
    background: styles.$primary-color;
    color: styles.$primary-white;
  }

  &:focus-visible {
    outline: none; // generally bad to disable this
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
    border-right: 1px solid styles.$primary-color;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid styles.$primary-color
  }
}