@use 'src/styles';

.submitButton {
  padding: 14px 14px;
  margin-top: 16px;
  background: styles.$primary-color;
  transition: background-color 0.1s ease-in;

  border: unset;
  border-radius: 4px;

  font-weight: bold;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &.disabled {
    background: styles.$disabled-main;
    color: styles.$disabled-dark;
    opacity: 0.6;
    cursor: unset;

    &:hover {
      opacity: 0.5;
    }
  }
}