:root {
  font-family: sans-serif;

  --primary-color: #004e5f;
  --highlight-color: #def7f7;
}

$font-family: sans-serif;
$primary-color: #004e5f;
$hover-color: #e6ebf4;
$highlight-color: #def7f7;

$disabled-main: #c4c1c5;
$disabled-dark: #808080;

$primary-white: #fff;

// resets
h1 {
  margin: 0
}


.checksViewContainer {
  display: flex;
  justify-content: center;
}

.checkDescription {
  font-size: 16px;
  font-weight: normal;
}

.checkRow {
  width: 380px;
  box-sizing: border-box;
  padding: 12px 16px;

  &.active {
    background: $highlight-color;
  }

  &.disabled {
    opacity: 0.3;
    cursor: initial;

    &:hover {
      background: white;
    }

    & .button {
      opacity: 1;
      border-color: $disabled-main;
      color: $disabled-main;
      cursor: initial;

      &:hover {
        background: $primary-white;
      }
    }
  }

  &:hover {
    background: $hover-color;
  }

}

.buttonContainer {
  margin-top: 6px;
}
