$font-family: sans-serif;
$primary-color: #004e5f;
$hover-color: #e6ebf4;
$highlight-color: #def7f7;

$disabled-main: #c4c1c5;
$disabled-dark: #4d4d4d;

$primary-white: #fff;


:root {
  font-family: $font-family;
}

// resets
h1 {
  margin: 0
}

.viewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 32px;
}

.errorMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 32px;
}

.centerText {
  text-align: center;
}